.App {
  text-align: center;
}

.navbar{
  background-color: #000000;
  
}

.navbar-title{
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
  font-size: large;

  
}

.navbar-list{
  display: flex;


}
.navbar-list li{
  list-style: none;
  margin: 13px 23px;
  /* padding: 15px 10px; */
 
}
.home{
  text-decoration: none;
  color: #ffffff;
}
.contact{
  text-decoration: none;
  color: #ffffff;

}
.tbody-class{
  background-color: #000000;
}
.section1-header{
  display: flex;
  justify-content: space-between;
  /* background-color: #FFDEE9; */
  background-image: linear-gradient(0deg, #f6deff 0%, #eba8f8 100%);

}
.section2-slide{
  display: flex;
  justify-content: space-between;
}


.bg-image{
  background-image: url('https://www.teahub.io/photos/full/48-485738_-contact-us.jpg');
  
}